.hero {
  background-image: url('images/hero.jpg');
  background-size: cover;
}

.logos {
  margin-left: 20%;
}

.logo-subimage {
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  float: right;
  margin: 0 16px 0 0;
}

.nav-link {
  color: white;
  font-weight: bold;
}

h1 {
  font-family: Arial, sans-serif;
  color: white;
  font-weight: bold;
  font-style: italic;
}

.call {
  font-family: arial, sans-serif;
  color: white;
}
