a:link {
  color: white !important;
}

a:visited {
  color: white !important;
}

.hero {
  background-image: url('images/hero.jpg');
  background-size: cover;
}

.logos {
  margin-left: 10%;
}

.logo-subimage {
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  float: right;
  margin: 0 16px 0 0;
}

#navbarNav {
  margin-right: 10%;
}

.nav-link {
  font-weight: bold;
}

.action {
  margin-top: 10%;
  margin-left: 10%;
}

h1 {
  font-family: Arial, sans-serif;
  color: white;
  font-weight: bold;
  font-style: italic;
}

.call {
  font-family: arial, sans-serif;
  color: white;
}

.btn {
  background-color: #D51419 !important;
}

.btn:hover {
  background-color: #bb1117 !important;
}

.hands {
  margin-top: 20%;
  margin-left: 10%;
}

.alt1 {
  color: black;
}

.alt2 {
  color: black;
}

.product {
  float: right;
  margin-right: 10%;
}
