a:link {
  color: white !important;
}

a:visited {
  color: white !important;
}

.hero {
  background-image: url('images/hero.jpg');
  background-size: cover;
}

.logos {
  margin-left: 10%;
}

.logo-subimage {
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  float: right;
  margin: 0 16px 0 0;
}

#navbarNav {
  margin-right: 10%;
}

.nav-link {
  font-weight: bold;
}

.action {
  margin-top: 10%;
  margin-left: 10%;
}

h1 {
  font-family: Arial, sans-serif;
  color: black;
  font-weight: bold;
  font-style: italic;
}

.call {
  font-family: arial, sans-serif;
  color: white;
}


.btn-peppers {
  background-color: #DC3545;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 15px;
}

.btn-peppers:hover {
background-color: #aa1418;
color: white;
}

.text1 {
  font-size: 1.5em
}

.ig-rel {
  position: relative;
}

.ig-abs {
  position: absolute;
  bottom: 10px;
  left: 25px;

.btn {
  background-color: #D51419 !important;
}

.btn:hover {
  background-color: #bb1117 !important;
}

.level2 {
  margin: 30px;
  margin-left: 10%;
}

.hands1 {
  display: inline-block;
  width: 500px;
}

.hands2 {
  display: inline-block;
  height: auto;
  width: auto;
}

.alt1 {
  color: black;
}

.alt2 {
  color: black;
}

div.container {
  margin-top: 50px;
}
